$color_info       = #369cc7
$color_success    = #5ea400
$color_warning    = #eaa703
$color_error      = #d01414


.container
  margin-left 5px
  margin-right 5px
  position relative
  border-radius 3px
  transition margin-top 0.1s linear 0.4s, margin-bottom 0.1s linear 0.4s
  &[data-position=topLeft]
  &[data-position=topRight]
    margin-top 0
  &[data-position=bottomLeft]
  &[data-position=bottomRight]
    margin-bottom 0

.containerMounted
  &[data-position=topLeft]
  &[data-position=topRight]
    margin-top 10px
  &[data-position=bottomLeft]
  &[data-position=bottomRight]
    margin-bottom 10px

.containerRemoved
  overflow: hidden
  transition margin-top 0.1s linear 0s, margin-bottom 0.1s linear 0s
  &[data-position=topLeft]
  &[data-position=topRight]
    margin-top 0
  &[data-position=bottomLeft]
  &[data-position=bottomRight]
    margin-bottom 0


.notification
  min-width 200px
  max-width 360px
  background-color #fff
  position relative
  opacity 0
  font-size 14px
  color #000
  box-shadow rgba(0,0,0, 0.25) 0 1px 4px
  border-radius 3px

.notificationMounted
  transition all 0.4s linear
  opacity 1 !important
  &[data-position=topLeft]
  &[data-position=topRight]
    margin-top 0 !important
  &[data-position=bottomLeft]
  &[data-position=bottomRight]
    margin-bottom 0 !important

.notificationRemoved
  opacity 0.5 !important
  &[data-position=topLeft]
  &[data-position=topRight]
    margin-top -100% !important
  &[data-position=bottomLeft]
  &[data-position=bottomRight]
    margin-bottom -100% !important

.info
  border-left 7px solid rgba($color_info, 0.9)

.success
  border-left 7px solid rgba($color_success, 0.9)

.warning
  border-left 7px solid rgba($color_warning, 0.9)

.error
  border-left 7px solid rgba($color_error, 0.9)

.closeButton
  width 16px
  height 16px
  line-height 14px
  position absolute
  top 2px
  right 2px
  opacity 0.25
  text-align center
  font-size 16px
  font-weight bold
  cursor pointer
  &:before
    content "×"
    display block
    width 100%
    height 100%
  &:hover
    opacity 1

.content
  padding 8px 25px 10px 15px
